<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>

    <script src="{% static 'js/nav_badge_populate.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}
</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}

<!--navbar end-->
<!--page info-->
{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="page_kind">home</div>

{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
<div class="hidden" id="id">{{ id }}</div>
<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row">
                <div><h4>Group Edit</h4></div>
                <div align="center">
                    <img class="img_300_300" id="img_300" src="">
                </div>
                <div align="center">
                        <span id="span_change_photo">Change</span><br>
                        <span id="span_base_reset">BaseReset</span>
                </div>
                <div style="background-color: #8e97ed"><h4>Default Edit</h4></div>
                <div class="h4">default name</div>
                <div class="h5" id="default_name">names current</div>
                <div>name: <input id="default_name_input"></div>
                <div class="h4">default description</div>
                <div class="h5" id="default_desc">description current</div>
                <div>desc: <input id="default_desc_input"></div>
                <a href=""><div style="background-color: silver" id="default_register">register</div></a>
                <div class="h4" style="background-color: #8e97ed">main_name</div>
                <div class="h5" id="main_name">main_name</div>

                <div>main name: <input id="main_name_input"></div>
                <a href=""><div style="background-color: silver" id="main_name_register">main name register</div></a>
                <div class="h4" style="background-color: #8e97ed">names list</div>
                <div id="name_list"></div>
                <div class="h5">main_name</div>
                <div class="h5">main_name</div>
                <div>delete name: <input id="name_delete_input"></div>
                    <!-- delete name 은 직접입력해서 지우는 걸로 하자 간단하게 하고 name등록시에 strip 걸어주는 것 잊지마.-->
                <a href=""><div style="background-color: silver" id="register">name delete</div></a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $.ajax({
                url: '/re/b/admin/group/edit/',
                type: 'post',
                dataType: 'json',
                cache: false,
                data: {
                    id: $('#id').val(),
                },
                success: function (data) {
                    if (data.res === 1) {
                        console.log(data)
                        //location.reload()
                    }
                }
            });
    })
</script>

</html>