<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>

    <script src="{% static 'js/nav_badge_populate.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}
</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}

<!--navbar end-->
<!--page info-->
{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="page_kind">home</div>

<div class="hidden" id="last_pk"></div>

{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}


<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row">
                <div><h3>Group</h3></div>
                <div>name: <input id="name_input"></div>
                <div>desc: <input id="desc_input"></div>
                <a href=""><div style="background-color: silver" id="register">register</div></a>
                <div>delete id: <input id="id_delete_input"></div>
                <a href=""><div style="background-color: silver" id="id_delete">delete</div></a>

                <div id="obj_list">
                </div>
                <a href=""><div style="background-color: pink" id="more_load">more_load</div></a>

            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $.ajax({
            url: '/re/group/list/',
            type: 'post',
            dataType: 'json',
            cache: false,
            data: {
                last_pk: $('#last_pk').html(),
            },
            success: function (data) {
                console.log(data)
                if (data.res === 1) {
                    $.each(data.output, function (key, value) {
                        $('#obj_list').append('<div><span class="h4">'+value.name+'</span><span class="h5">'+value.desc+'</span></div><div>'+value.id+'</div><a href="/b/admin/group/edit/'+value.id+'/"><div>link</div></a>')
                    })
                    $('#last_pk').html(data.last_pk)
                }
            }
        });
        $('#more_load').click(function (e) {
            e.preventDefault()
            $.ajax({
                url: '/re/group/list/',
                type: 'post',
                dataType: 'json',
                cache: false,
                data: {
                    last_pk: $('#last_pk').html(),
                },
                success: function (data) {
                    console.log(data)
                    if (data.res === 1) {
                        $.each(data.output, function (key, value) {
                            $('#obj_list').append('<div><span class="h4">'+value.name+'</span><span class="h5">'+value.desc+'</span></div><div>'+value.id+'</div><a href="/b/admin/group/edit/'+value.id+'/"><div>link</div></a>')
                        })
                        $('#last_pk').html(data.last_pk)
                    }
                }
            });
        })

        $('#register').click(function (e) {
            e.preventDefault()
            $.ajax({
                url: '/re/group/register/',
                type: 'post',
                dataType: 'json',
                cache: false,
                data: {
                    name: $('#name_input').val(),
                    desc: $('#desc_input').val(),
                },
                success: function (data) {
                    console.log(data)
                    if (data.res === 1) {
                        location.reload()
                    }
                }
            });
        })
        $('#id_delete').click(function (e) {
            e.preventDefault()
            $.ajax({
                url: '/re/b/admin/group/delete/',
                type: 'post',
                dataType: 'json',
                cache: false,
                data: {
                    id: $('#id_delete_input').val(),
                },
                success: function (data) {
                    if (data.res === 1) {
                        location.reload()
                    }
                }
            });
        })
    })
</script>
</html>