<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Demo</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}

</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}

{% include 'others/bootstrap_tester.html' %}
<!--이거 제대로 작동 안 한다 확인해야 한다.-->
{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
    <div class="hidden" id="keyword"></div>

    <div class="hidden" id="solo_id"></div>
    <div class="hidden" id="group_id"></div>
    <div class="hidden" id="solo_end">false</div>
    <div class="hidden" id="group_end">false</div>

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">

                <div class="row div_base">
                    <div>
                        <h4>Search registered person or group</h4>
                    </div>
                    <div align="center">
                        <form>
                            <div class="input-group input-group-sm">
                                <input class="form-control" placeholder="search" id="create_search_input">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="create_search_btn">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="create_search_result" id="create_search_result">
                    </div>

                    <a href=""><div class="create_search_more_load clickable h5 hidden" align="center" id="create_search_more_load">more load</div></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<script>
</script>
<script>
    $(function () {

        $('#create_search_btn').click(function (e) {
            e.preventDefault()
            var keyword = $('#create_search_input').val()

            if (keyword.replace(/ /g,'')==='') {
                return false
            }
            if (keyword.length > 2048) {
                return false
            }
            $('#solo_end').html('false')
            $('#group_end').html('false')
            $('#solo_id').html('')
            $('#group_id').html('')

            $('#keyword').html(keyword)
            $.ajax({
                url:'/re/create/search/', type:'post', dataType:'json', cache:false,
                data:{
                    keyword: keyword,
                    solo_id: $('#solo_id').html(),
                    group_id: $('#group_id').html(),
                    solo_end: $('#solo_end').html(),
                    group_end: $('#group_end').html(),
                },
                success:function (data) {
                    if (data.res === 1){
                        $('#create_search_result').empty()
                        console.log(data)
                        $.each(data.output, function (key, value) {
                            var member = '';
                            $.each(value.member, function (sub_key, sub_value) {
                                member = member + ' ' + sub_value

                            })
                            var path = ''
                            var scheme = window.location.protocol == "https:" ? "https://" : "http://";
                            if (value.kind ==='group'){
                                path = scheme + window.location.host + "/create/group/post/" + value.id + "/";
                            } else if (value.kind ==='solo'){
                                path = scheme + window.location.host + "/create/solo/post/" + value.id + "/";
                            }
                            var appender = $('<a href="' + path + '"><div class="clickable">' +
                            '<div class="create_search_img_wrapper">' +
                            '<img class="create_search_img" src="' + value.main_photo + '">' +
                            '</div>' +
                            '<div class="create_search_detail_wrapper">' +
                            '<div class="create_search_detail_name">' + value.main_name + '</div>' +
                            '<div class="create_search_detail_explain h5">'+ member +'</div>' +
                            '</div>' +
                            '</div>' +
                            '</a>')
                            $('#create_search_result').append(appender)
                        })


                        if(data.group_end === 'true'){
                            $('#group_end').html('true')
                        }
                        if(data.solo_end === 'true'){
                            $('#solo_end').html('true')
                        }
                        $('#solo_id').html(data.solo_id)
                        $('#group_id').html(data.group_id)
                        if(data.solo_end==='true' && data.group_end ==='true'){
                            if (!($('#create_search_more_load').hasClass('hidden'))){
                               $('#create_search_more_load').addClass('hidden')
                            }
                        } else {
                            if ($('#create_search_more_load').hasClass('hidden')){
                               $('#create_search_more_load').removeClass('hidden')
                            }
                        }

                    }
                }
            });

        })

        $('.modal_reading_form_textarea').on("keypress", function (e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13 && !e.shiftKey) {

                e.preventDefault()
                    var keyword = $('#create_search_input').val()

                    if (keyword.replace(/ /g,'')==='') {
                        return false
                    }
                    if (keyword.length > 2048) {
                        return false
                    }
                    $('#solo_end').html('false')
                    $('#group_end').html('false')
                    $('#solo_id').html('')
                    $('#group_id').html('')

                    $('#keyword').html(keyword)
                    $.ajax({
                        url:'/re/create/search/', type:'post', dataType:'json', cache:false,
                        data:{
                            keyword: keyword,
                            solo_id: $('#solo_id').html(),
                            group_id: $('#group_id').html(),
                            solo_end: $('#solo_end').html(),
                            group_end: $('#group_end').html(),
                        },
                        success:function (data) {
                            if (data.res === 1){
                                $('#create_search_result').empty()

                                console.log(data)
                                $.each(data.output, function (key, value) {
                                    var member = '';
                                    $.each(value.member, function (sub_key, sub_value) {
                                        member = member + ' ' + sub_value

                                    })

                                    var appender = $('<a href=""><div class="clickable">' +
                                    '<div class="create_search_img_wrapper">' +
                                    '<img class="create_search_img" src="' + value.main_photo + '">' +
                                    '</div>' +
                                    '<div class="create_search_detail_wrapper">' +
                                    '<div class="create_search_detail_name">' + value.main_name + '</div>' +
                                    '<div class="create_search_detail_explain h5">'+ member +'</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</a>')
                                    $('#create_search_result').append(appender)
                                })


                                if(data.group_end === 'true'){
                                    $('#group_end').html('true')
                                }
                                if(data.solo_end === 'true'){
                                    $('#solo_end').html('true')
                                }
                                $('#solo_id').html(data.solo_id)
                                $('#group_id').html(data.group_id)
                                if(data.solo_end==='true' && data.group_end ==='true'){
                                    if (!($('#create_search_more_load').hasClass('hidden'))){
                                       $('#create_search_more_load').addClass('hidden')
                                    }
                                } else {
                                    if ($('#create_search_more_load').hasClass('hidden')){
                                       $('#create_search_more_load').removeClass('hidden')
                                    }
                                }

                            }
                        }
                    });
                return false;
            }
        })
        $('#create_search_more_load').click(function (e) {
            e.preventDefault()
            $.ajax({
                url:'/re/create/search/', type:'post', dataType:'json', cache:false,
                data:{
                    keyword: $('#keyword').html(),
                    solo_id: $('#solo_id').html(),
                    group_id: $('#group_id').html(),
                    solo_end: $('#solo_end').html(),
                    group_end: $('#group_end').html(),
                },
                success:function (data) {
                    if (data.res === 1){
                        console.log(data)
                        $.each(data.output, function (key, value) {
                            var member = '';
                            $.each(value.member, function (sub_key, sub_value) {
                                member = member + ' ' + sub_value

                            })

                            var appender = $('<a href=""><div class="clickable">' +
                            '<div class="create_search_img_wrapper">' +
                            '<img class="create_search_img" src="' + value.main_photo + '">' +
                            '</div>' +
                            '<div class="create_search_detail_wrapper">' +
                            '<div class="create_search_detail_name">' + value.main_name + '</div>' +
                            '<div class="create_search_detail_explain h5">'+ member +'</div>' +
                            '</div>' +
                            '</div>' +
                            '</a>')
                            $('#create_search_result').append(appender)
                        })


                        if(data.group_end === 'true'){
                            $('#group_end').html('true')
                        }
                        if(data.solo_end === 'true'){
                            $('#solo_end').html('true')
                        }
                        $('#solo_id').html(data.solo_id)
                        $('#group_id').html(data.group_id)
                        if(data.solo_end==='true' && data.group_end ==='true'){
                            if (!($('#create_search_more_load').hasClass('hidden'))){
                               $('#create_search_more_load').addClass('hidden')
                            }
                        } else {
                            if ($('#create_search_more_load').hasClass('hidden')){
                               $('#create_search_more_load').removeClass('hidden')
                            }
                        }

                    }
                }
            });

        })
    });

</script>
</html>