<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>galabill charge complete</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
</head>
<body>
<div class="pay_charge">
<h2>Charge Complete</h2>
<h4>It may take a while for your galabill account to complete the charge.</h4>
<br>
<a href="" onclick="javascript:self.close()"><div class="close_window clickable" align="center">close this window</div></a>
<!-- writes out the form tag automatically -->
</div>
</body>
</html>