<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>galabill solo rank</title>

    <meta name="keywords" content="galabill, celebs, celebrity, rank"/>
    <meta name="author" content="galabill"/>
    <meta name="title" content="galabill"/>
    <meta name="description" content="make your bias up"/>

    <meta property="og:url" content="https://www.galabill.com{{ request.get_full_path }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="galabill solo rank"/>
    <meta property="og:site_name" content="galabill"/>
    <meta property="og:description" content="make your bias up"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@galabill"/>
    <meta name="twitter:creator" content="@galabill">

    {% include 'others/header_image.html' %}

    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}

    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/rank.js' %}"></script>

</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}
{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="page_kind">home</div>

{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}

<div class="hidden" id="day">{{ day }}</div>
<div class="hidden" id="today">{{ today }}</div>
<div class="hidden" id="tomorrow">{{ tomorrow }}</div>
<div class="hidden" id="yesterday">{{ yesterday }}</div>
<div class="hidden" id="rank_kind">solo</div>

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row">

                <div class="row div_base">
                    <div align="center">
                        <a href="/solo/?d={{ yesterday }}"><span class="gen_left">＜</span></a>
                        <span class="gen_day">{{ day }}</span>
                        {% if tomorrow == '' %}
                        <span class="gen_right_space"></span>
                            <div class="gen_today_wrapper" align="center"></div>
                        {% else %}
                        <a href="/solo/?d={{ tomorrow }}"><span class="gen_right">＞</span></a>
                            <div class="gen_today_wrapper" align="center">
                                <a href="/solo/"><span class="gen_today clickable">today</span></a>
                            </div>
                        {% endif %}

                    </div>

                    <div>
                        {% if day == today %}
                            <div class="gen_list_name_wrapper clickable"><span class="gen_name">Solo</span><a href="/"><span class="gen_more">home</span></a></div>
                            <div id="list"></div>

                        {% else %}
                            <div class="gen_list_name_wrapper clickable"><span class="gen_name">Solo</span><a href="/?d={{ day }}"><span class="gen_more">home</span></a></div>
                            <div id="list"></div>

                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>