<meta name="keywords" content="galabill, celebs, celebrity, rank, top100"/>
<meta name="author" content="galabill"/>
<meta name="title" content="galabill"/>
<meta name="description" content="make your bias up"/>

<meta property="og:url" content="https://www.galabill.com{{ request.get_full_path }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="galabill"/>
<meta property="og:site_name" content="galabill"/>
<meta property="og:description" content="make your bias up"/>

<meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>

<meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@galabill"/>
<meta name="twitter:creator" content="@galabill">